<h1>Hello <%= @user.username %></h1>
<hr>
<p>total points:</p>
<p>member since:</p>
<br>
<p>Stats</p>
<hr>
<p>Total posts: <%= @user.posts.count %></p>
<p>Post points:</p>
<p>Total comments: <%= @user.comments.count %></p>
<p>Comment points:</p>


<hr>
<%= @user.post_points[0].value %>
<hr>
<%= @user.comment_points[0].value %>
<hr>

<%= @user.inspect %>