<h1>Hello MicroReddit</h1>

<p>This line is on views/posts/index::: <%= Current.user.inspect %></p>

<% if Current.user %>
    Logged in as: <%= Current.user.username %><br>
   
    <%= button_to 'Logout', logout_path, method: :delete %>
    <% else %>
    <%= link_to 'Sign Up', sign_up_path %>
    or
    <%= link_to 'Login', sign_in_path %>
  <% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
    <%= post.id %>
      <%= button_to 'Yeap', like_post_path(post.id), method: :put %><span>(<%= post.get_upvotes.size %>)</span>
      <%= button_to 'Nope', dislike_post_path(post.id), method: :put %><span>(<%= post.get_downvotes.size %>)</span>
      <a href="http://localhost:3000/posts/<%= post.id %>" ><%= post.title %></a>
      <p>url: <%= post.url %></p>
      <p>post points: <%= post.post_points.count { |point| point.value } - post.post_points.count { |point| !point.value } %></p>
      <p>post time: <%= time_ago_in_words(post.created_at) %> ago</p>
      <p>posted by: <%=  post.user.username %></p>
      <p>total comments: <%=  post.comments.count %></p>
    </li> 
  <% end %>
</ul>

