<h1><%= @post.title %></h1>
<p>url:<%= @post.url %></p>
<p>post points: <%= @post_points %></p>
<p>post time: ?? </p>
<p>posted by: <%=  @post.user.username %></p>


<h3>Comments</h3>
<hr>
<% @comments.each do |comment| %>
  <p>Posted by: <%= comment.user.username %></p>
  <p><%= comment.comment %></p>
<% end %>

<hr>
<h2>post</h2>

<%= @post.inspect %>
<h2>comments</h2>

<%= @comments.inspect %>

