<h1><%= @post.title %></h1>
<p>url:<%= @post.url %></p>

<div>
  <%= button_to 'Yeap', like_post_path(@post), method: :put %>
  <%= button_to 'Nope', dislike_post_path(@post), method: :put %>
</div>
<p>post points: <%= @post_points %></p>


<p>post time: <%= time_ago_in_words(@post.created_at) %> ago</p>
<p>posted by: <%=  @post.user.username %></p>
<p>total comments: <%=  @comments.count %></p>





<h3>Comments</h3>
<hr>
<% @comments.each do |comment| %>
  <p>Posted by: <%= comment.user.username %></p>
  <p>comment points: <%= comment.comment_points.count { |point| point.value } - comment.comment_points.count { |point| !point.value } %></p>
  <p>comment time: <%= time_ago_in_words(comment.created_at) %> ago</p>

  <p><%= comment.comment %></p>

<% end %>


<hr>
<hr>
<h1>Create a New Comment</h1>

<%= form_with model: [@post, Comment.new], url: post_comments_path(@post) do |form| %>
  <div>
    <%= form.label :comment %><br>
    <%= form.text_field :comment %>
  </div>

  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>

<hr>
<hr>