<!DOCTYPE html>
<html>
  <head>
    <title>Microreddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' %>
  </head>

  <body class="bg-rose-50 text-teal-900">
  
  <nav class="flex items-center gap-x-28 px-8 py-3 bg-teal-300" >
    <h1 class="font-extrabold text-3xl">MicroReddit</h1>
    <div class="font-bold text-lg">
      <%= link_to "Newest", root_path(sort: "new"), class: "text-rose-50 border border-teal-700 bg-teal-700 hover:bg-teal-600 px-3 py-2 rounded" %>
      <%= link_to "Title", root_path(sort: "title"), class: "text-rose-50 border border-teal-700 bg-teal-700 hover:bg-teal-600 px-3 py-2 rounded" %>
      <%= link_to "Post Point", root_path(sort: "point"), class: "text-rose-50 border border-teal-700 bg-teal-700 hover:bg-teal-600 px-3 py-2 rounded" %>
    </div>
  </nav>
  
  <p class="notice text-rose-500 ml-8 mt-2"><%= notice %></p>
  <p class="alert text-rose-500 ml-8 mt-2"><%= alert %></p>

  <div class="flex my-2 mx-8 justify-between">
    <div class="mx-8 mt-2 flex flex-col">
      <%= yield %>
    </div>

    <div class="border border-teal-700 rounded px-4 py-4 h-fit" >
      <%= form_with model: @user, url: sign_up_path do |f| %>
        <p>
        <%= f.label 'username:', class: "font-bold"%><br>
        <%= f.text_field :username, id: 'username', class: "border border-teal-500 rounded focus:outline-none focus:ring focus:ring-violet-200" %>
        </p>
        <p>
        <%= f.label 'password', class: "font-bold" %><br>
        <%= f.password_field :password, id: 'password', class: "border border-teal-500 rounded focus:outline-none focus:ring focus:ring-violet-200" %>
        </p>
        
        <div>
          <%= f.button 'Sign Up', name: 'register_button', class: "my-4 font-bold text-rose-50 border border-teal-700 bg-teal-700 hover:bg-teal-600 px-2 py-0.5 rounded" %>
          <%= f.button 'Log In', name: 'login_button', formaction: sign_in_path, class: "my-4 font-bold text-rose-50 border border-teal-700 bg-teal-700 hover:bg-teal-600 px-2 py-0.5 rounded" %>
        </div>
      <% end %>
    </div>
  </div>

  
  </body>
</html>
